<h1 class="mt-5 mb-5 text-center">Les outils :</h1>
<div class="row ml-5 mr-5">
    <div class="col-lg-4 col-sm-12 d-grid mb-5 mt-5">
        <a class="text-decoration-none text-secondary" routerLink="users">
            <div class="card bg-light w-50 mx-auto">
                <div class="card-body">
                    <h2 class="text-center">Read USERS</h2>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-sm-12 d-grid mb-5 mt-5">
        <a class="text-decoration-none text-secondary" routerLink="user">
            <div class="card bg-light w-50 mx-auto">
                <div class="card-body">
                    <h2 class="text-center">Read USER</h2>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-sm-12 d-grid mb-5 mt-5">
        <a class="text-decoration-none text-secondary" routerLink="create">
            <div class="card bg-light w-50 mx-auto">
                <div class="card-body">
                    <h2 class="text-center">Create USER</h2>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-sm-12 d-grid mb-5 mt-5">
        <a class="text-decoration-none text-secondary" routerLink="update">
            <div class="card bg-light w-50 mx-auto">
                <div class="card-body">
                    <h2 class="text-center">Update USER</h2>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-sm-12 d-grid mb-5 mt-5">
        <a class="text-decoration-none text-secondary" routerLink="delete">
            <div class="card bg-light w-50 mx-auto">
                <div class="card-body">
                    <h2 class="text-center">Delete USER</h2>
                </div>
            </div>
        </a>
    </div>
</div>